/* class */
.nav-item a {
  font-size: 18px;
  color: black;
}

.nav-item a:hover {
  color: black;
}
.nav-item {
 list-style: none;
}
.navbar-fixed-top {
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: 999;
}
.slogan {
  font-size: 2em !important ;
  font-weight: 700 !important ;
  letter-spacing: 2px;
  padding: 150px 250px;
}

/*id*/
#navbar{
  display: flex;
  justify-content: center;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/images/main.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#footer {
  background-color: grey;
}


